h1{
    color:red;
    text-align: center
    
}
p {
    text-align: center;
    color:white;
    font-size:60px;
    padding:13px;
    color:red;
}

hr{
    border: 1px solid White;
}
footer{
    background-color: #555;
    color: white;
    padding: 15px;
    margin-top: 2%;
    text-align: center;
    border: 2px solid blue;
    width: 100%; 
    position: absolute;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
body background{
    background-image: url("/Users/zacharyschneider/Desktop/Psychic-Game/image.jpg");
}